@import '../../../colors';

.minimalistic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-card;
  border: 1px solid $border-main;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: $shadow-main;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 0.2), 0 3px 4px 0 rgb(0 0 0 / 0.14), 0 1px 8px 0 rgb(0 0 0 / 0.12);
  }

  @media (width <= 500px) {
    font-size: 10px;
    padding: 10px;
  }
}

.large-icon {
  font-size: 48px;
  height: 48px;
  width: 48px;
  color: $text-light;
}
