:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

mat-sidenav-container {
  flex: 1;
  overflow: hidden;
}

mat-sidenav {
  width: 250px;
}

.content-padding {
  padding: 20px 60px;

  @media (width <= 500px) {
    padding: 0;
  }
}

@media (width <= 366px) {
  :host {
    flex-direction: column;
  }

  mat-sidenav {
    width: 100%;
  }

  .content-padding {
    padding: 10px;
  }
}