<div class="language-overview">
    <div class="language-overview__block language-overview__block-highlighted" (click)="navigateToTraining()">
        <div class="language-overview__block-header">
            <span class="language-overview__block-header-title">Тренировка</span>
        </div>
    </div>
    <div class="language-overview__block language-overview__block-highlighted" (click)="navigateToTranslationPractice()">
        <div class="language-overview__block-header">
            <span class="language-overview__block-header-title">Практика перевода</span>
        </div>
    </div>
    <div class="language-overview__block" (click)="navigateToGrammar()">
        <div class="language-overview__block-header">
            <span class="language-overview__block-header-title">Грамматика</span>
        </div>
    </div>
    <div class="language-overview__block" (click)="navigateToWordPage()">
        <div class="language-overview__block-header">
            <span class="language-overview__block-header-title">Словарь</span>
        </div>
    </div>

</div>
<div class="language-overview__statistics">
    <div class="stats-summary" *ngIf="languageStats$ | async as stats">
        <div class="stat-item">
            <div class="stat-value">{{ stats.totalWords }}</div>
            <div class="stat-label">Добавлено слов</div>
        </div>
        <div class="stat-item" *ngIf="stats.learnedWords">
            <div class="stat-value">{{ stats.learnedWords }}</div>
            <div class="stat-label">Выучено слов</div>
        </div>
        <div class="stat-item">
            <div class="stat-value">{{ stats.totalTrainingDays }}</div>
            <div class="stat-label">Дней тренировки</div>
        </div>
    </div>

    <div class="word-performance" *ngIf="languageStats$ | async as stats">
        <div class="word-list best-words" *ngIf="stats.bestActiveWordsByAccuracy.length">
            <h3>Лучшие слова</h3>
            <div class="word-columns">
                <div>
                    <h4>Активный вокабуляр</h4>
                    <ul>
                        <li *ngFor="let word of stats.bestActiveWordsByAccuracy">
                            {{word}}
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Пассивный вокабуляр</h4>
                    <ul>
                        <li *ngFor="let word of stats.bestPassiveWordsByAccuracy">
                            {{word}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="word-list worst-words" *ngIf="stats.worstActiveWordsByAccuracy.length">
            <h3>Слова для улучшения</h3>
            <div class="word-columns">
                <div>
                    <h4>Активный вокабуляр</h4>
                    <ul>
                        <li *ngFor="let word of stats.worstActiveWordsByAccuracy">
                            {{ word }}
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Пассивный вокабуляр</h4>
                    <ul>
                        <li *ngFor="let word of stats.worstPassiveWordsByAccuracy">
                            {{ word }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="charts-container">
        <div class="chart-wrapper-inner" *ngIf="(learnedWordsData$ | async) as learnedWordsData">
            <div class="chart-wrapper bar-chart" *ngIf="learnedWordsData.length">
                <h3>Уровень владения</h3>
                <ngx-charts-bar-vertical [view]="[chartWidth, chartHeight]" [results]="learnedWordsData"
                    [scheme]="colorScheme" [animations]="true" [showDataLabel]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>

        <div class="chart-wrapper-inner" *ngIf="(accuracyData$ | async) as accuracyData">
            <div class="chart-wrapper bar-chart" *ngIf="accuracyData.length">
                <h3>Средняя точность</h3>
                <ngx-charts-bar-vertical [view]="[chartWidth, chartHeight]" [results]="accuracyData"
                    [scheme]="colorScheme" [animations]="true" [showDataLabel]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>

        <div class="chart-wrapper-inner" *ngIf="(averageLearnedPercentData$ | async) as averageLearnedPercentData">
            <div class="chart-wrapper bar-chart" *ngIf="averageLearnedPercentData.length">
                <h3>Средний процент выученных слов</h3>
                <ngx-charts-bar-vertical [view]="[chartWidth, chartHeight]" [results]="averageLearnedPercentData"
                    [scheme]="colorScheme" [animations]="true" [showDataLabel]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>
    </div>
</div>