<div class="language-overview">
    <div class="language-overview__block" (click)="navigateToGrammar()">
        <div class="language-overview__block-header">
            <span class="language-overview__block-header-title">Грамматика</span>
        </div>
    </div>
    <div class="language-overview__block" (click)="navigateToWordPage()">
        <div class="language-overview__block-header">
            <span class="language-overview__block-header-title">Словарь</span>
        </div>
    </div>
    <div class="language-overview__block language-overview__block-highlighted" (click)="navigateToTraining()">
        <div class="language-overview__block-header">
            <span class="language-overview__block-header-title">Тренировка</span>
        </div>
    </div>
</div>