<mat-toolbar color="primary">
  @if (isAuthenticated$ | async) {
    <button mat-icon-button class="menu-icon" (click)="toggleSidenav()" aria-label="Открыть меню">
      <mat-icon>menu</mat-icon>
    </button>
  }
  <span class="app-title">Lingui Cards</span>
  @if (showLanguageSelector$ | async) {
    <div class="language-selector">
      <mat-select [(value)]="selectedLanguage.id" (selectionChange)="changeLanguage($event)" panelClass="language-select-panel">
        <mat-select-trigger>
          <div class="language-option">
            <img [src]="selectedLanguage.url" alt="{{ selectedLanguage.name }}" class="language-flag" width="20" height="20">
          </div>
        </mat-select-trigger>
        @for (language of languages$ | async; track language.id) {
          <mat-option [value]="language.id">
            <div class="language-option">
              <img [src]="language.url" alt="{{ language.name }}" class="language-flag" width="20" height="20">
            </div>
          </mat-option>
        }
      </mat-select>
    </div>
  }
</mat-toolbar>

@if (selectedLanguage$ | async; as selectedLanguage) { }
