<mat-card class="minimalistic-card" [ngClass]="customClassName" (click)="clickEvent($event)">
  @if (editMode || isShowActions) {
    <div class="item-actions">
      <mat-icon class="close-icon" (click)="emitClose($event)">close</mat-icon>
    </div>
  }
  <mat-card-content class="content-container">
    @if (!editMode) {
      <span class="item-name">{{name}}</span>
      @if (imgSrc) {
        <img [src]="imgSrc" class="item-icon" width="30">
      }
    } @else {
      <div class="edit-content">
        <mat-select [(ngModel)]="selectedItem" placeholder="Выберите">
          @for (item of dictionaries; track item.id) {
            <mat-option [value]="item">
              {{item.name}}
            </mat-option>
          }
        </mat-select>
        <button mat-fab color="primary" class="save-button" (click)="saveItem()" [disabled]="!selectedItem.id">
          Сохранить
        </button>
      </div>
    }
  </mat-card-content>
</mat-card>
