<div class="word-page-container">
  <div class="action-buttons">
    <button mat-flat-button color="primary" class="action-button" (click)="addWord()">Добавить слово</button>
    <button mat-flat-button class="action-button highlight-button" [routerLink]="['/training-page', languageId]">Начать
      тренировку
    </button>
  </div>
  
  <div class="word-table">
    <table mat-table [dataSource]="(words$ | async) || []" class="mat-elevation-z8 word-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Слово</th>
        <td mat-cell *matCellDef="let word">
          <ng-container *ngIf="!isEditMode(word); else editMode">
            {{word.name}}
          </ng-container>
          <ng-template #editMode>
            <mat-form-field class="word-edit-form">
              <input matInput [(ngModel)]="word.name" />
            </mat-form-field>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="translatedName">
        <th mat-header-cell *matHeaderCellDef> Перевод</th>
        <td mat-cell *matCellDef="let word">
          <ng-container *ngIf="!isEditMode(word); else editMode">
            {{word.translatedName}}
          </ng-container>
          <ng-template #editMode>
            <mat-form-field class="word-edit-form">
              <input matInput [(ngModel)]="word.translatedName" />
            </mat-form-field>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="activeLearnedPercent">
        <th mat-header-cell *matHeaderCellDef> Активный вокабуляр</th>
        <td mat-cell *matCellDef="let word"> {{word.activeLearnedPercent}}%</td>
      </ng-container>

      <ng-container matColumnDef="passiveLearnedPercent">
        <th mat-header-cell *matHeaderCellDef> Пассивный вокабуляр</th>
        <td mat-cell *matCellDef="let word"> {{word.passiveLearnedPercent}}%</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Действие</th>
        <td mat-cell *matCellDef="let word">
          <ng-container *ngIf="isEditMode(word); else defaultMode">
            <button mat-icon-button class="action-table-button" (click)="finishEditing(word)">
              <mat-icon>check</mat-icon>
            </button>
          </ng-container>
          <ng-template #defaultMode>
            <button mat-icon-button class="action-table-button" (click)="editWord(word)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="action-table-button" (click)="deleteWord(word)">
              <mat-icon>close</mat-icon>
            </button>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'translatedName', 'activeLearnedPercent', 'passiveLearnedPercent', 'action']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'translatedName', 'activeLearnedPercent', 'passiveLearnedPercent', 'action'];"></tr>
    </table>
    <mat-paginator #paginator [length]="totalCount" [pageSize]="5" [pageIndex]="pageIndex" (page)="handlePageEvent($event)"
      [pageSizeOptions]="[5, 10, 30, 50]">
    </mat-paginator>
  </div>
</div>

<ng-container *ngIf="wordCommandObservable$ | async">
</ng-container>