<div class="language-card-container">
  <ng-container *ngFor="let languageCard of (languageCards$ | async)">
    <card [id]="languageCard.id" [name]="languageCard.name" [imgSrc]="languageCard.url" [editMode]="languageCard.editMode"
          [isShowActions]="true" [dictionaries]="languageDictionary$ | async"
          (saveEmit)="saveLanguage($event)" (closeEmit)="closeLanguage($event)"
          (click)="navigateToOverview(languageCard)" customClassName="minimalistic-card__medium">
    </card>
  </ng-container>
  <app-button *ngIf="(languageDictionary$ | async)?.length !== 0" icon="add" (click)="addLanguage()"></app-button>
</div>

<ng-container *ngIf="(languageCreateObservable$ | async) || (languageCloseObservable$ | async)">
</ng-container>
