@import '../../../../colors';

.language-card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;

  @media (width <= 1280px) {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 0 16px;
  }

  @media (width <= 500px) {
    margin-right: 0;
    margin-bottom: 10px;
    padding: 0 12px;
  }

  @media (width <= 366px) {
    padding: 0 10px;
  }
}

.language-card-container>* {
  margin-right: 50px;

  @media (width <= 500px) {
    margin-right: 0;
  }
}

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  @media (width <= 500px) {
    align-items: center;
    justify-content: flex-start;
  }
}