<div class="training-page">
  <ng-container *ngIf="isTrainingFinished; then finishedTraining; else activeTraining">
  </ng-container>
  <ng-template #finishedTraining>
    <div class="training-page__finished-training">
      <div *ngIf="trainingResult$ | async as trainingResult">
        <div class="action-buttons">
          <button mat-flat-button color="primary" class="action-button" (click)="startNewTraining()" [disabled]="isLoading">Начать новую
            тренировку</button>
          <button mat-flat-button color="primary" class="action-button" (click)="goToDashboard()">Вернуться к
            дашборду</button>
        </div>
        <table mat-table [dataSource]="trainingResult" class="mat-elevation-z8 results-table">
          <ng-container matColumnDef="correctAnswer">
            <th mat-header-cell *matHeaderCellDef> Правильный ответ </th>
            <td mat-cell *matCellDef="let element"> {{element.correctAnswer}} </td>
          </ng-container>
          <ng-container matColumnDef="userAnswer">
            <th mat-header-cell *matHeaderCellDef> Ваш ответ </th>
            <td mat-cell *matCellDef="let element"
              [ngClass]="{'correct-answer': element.isCorrectAnswer, 'incorrect-answer': !element.isCorrectAnswer}">
              {{element.answer}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['correctAnswer', 'userAnswer']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['correctAnswer', 'userAnswer'];"></tr>
        </table>
      </div>
    </div>
  </ng-template>
  <ng-template #activeTraining>
    <div class="training-page__current-word" *ngIf="getTrainingRenderType((currentWord$ | async)!) !== 2">
      <card [name]="getCardName((currentWord$ | async)!)" customClassName="minimalistic-card__medium"></card>
    </div>
    <ng-container *ngIf="currentWord$ | async as currentWord">
      <div *ngIf="getTrainingRenderType(currentWord) === 0;" class="training-page__options">
        <div *ngFor="let option of options" class="training-page__option">
          <card [name]="option" (click)="selectOption(option)"
            [customClassName]="'minimalistic-card__small ' + (getBackgroundColor$(option) | async)">
          </card>
        </div>
      </div>
      <div *ngIf="getTrainingRenderType(currentWord) === 1;" class="training-page__input-block">
        <div class="hint-container">
          <span class="revealed-letters">{{ revealedLetters }}</span>
          <span class="hidden-letters">{{ getHiddenLetters(currentWord) }}</span>
        </div>
        <button mat-button (click)="getHint()" [disabled]="isHintDisabled(currentWord) || isLoading">
          <mat-icon>lightbulb</mat-icon>
          Подсказка
        </button>
        <div class="training-page__input-block">
          <mat-form-field appearance="outline">
            <input #translationInput matInput [(ngModel)]="writtenTranslation" (keyup.enter)="continueTraining()" [disabled]="isLoading">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="continueTraining()" [disabled]="isLoading">
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="getTrainingRenderType(currentWord) === 2;" class="training-page__connection-block">
        <training-connection [connectionWords]="(connectionWords$ | async) ?? []"
          [connectionTranslations]="(connectionTranslations$ | async) ?? []"
          [expectedMatches]="(expectedMatches$ | async) ?? []" (matchesComplete)="continueTraining()"
          (updateLearnLevel)="handleWordConnectionMatch($event.word, $event.translation)"></training-connection>
      </div>
    </ng-container>
    <div class="action-buttons">
      <button mat-flat-button color="primary" class="action-button" (click)="finishTraining()" [disabled]="isLoading">Закончить</button>
    </div>
  </ng-template>
</div>

<ng-container *ngIf="(continueTraining$ | async) || (selectedOption$ | async)">
</ng-container>

<ng-container *ngIf="(handleLearnLevelUpdate$ | async)">
</ng-container>